<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JiaKaoBaoDian.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>50BBE5761C5E6EC0009896CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50BBE58F1C5E6EC1009896CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50BBE59A1C5E6EC1009896CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
